<b><i>Experiment 6:Based on multiple features/variables perform Linear Regression.

Multiple linear regression is advancement of linear regression, as more variables are taken in this model i.e(features or parameters).Here we have used area,bedrooms and age feautures to decide a price of a house plot.

In [ ]:
#we have used numpy , pandas and sklearn libraries ,from sklearn library we have
#to use linear_model algorithm which we will use to apply machine learning algorithms.

In [13]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [14]:
df=pd.read_csv("homeprice.csv")
df

   area  bedrooms  age   price
0  3600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

#In above data we can see in third row bedroom column there is Nan value which we have to solve by taking out the median of the bedrooms column.

In [15]:
import math 
median_bedrooms=math.floor(df.bedrooms.median())
median_bedrooms

3

In [16]:
df.bedrooms.fillna(median_bedrooms)
df.bedrooms=df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  3600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

#reg.fit will be used to train the data

In [17]:
reg=linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [18]:
reg.coef_

array([  102.82894737, 44131.57894737, -1618.42105263])

In [19]:
reg.intercept_

128736.8421052614

#reg.predict will predict the price of the house according to data given.

In [20]:
reg.predict([[300,3,40]])

array([227243.42105263])